In [1]:
import numpy as np
import pandas as pd

In [10]:
adults1 = pd.read_csv('csv/adults.csv')
adults1.shape

(32560, 15)

In [11]:
adults1.head(10)

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

In [18]:
print(adults1.duplicated().value_counts())
print(adults1.shape)

False    32536
True        24
dtype: int64
(32560, 15)

In [19]:
adults2 = pd.read_csv('csv/adults.csv')
adults2.shape

(32560, 15)

In [20]:
adults = pd.concat([adults1, adults2])

In [21]:
print(adults.duplicated().value_counts())
print(adults.shape)

True     32584
False    32536
dtype: int64
(65120, 15)

In [22]:
adults.to_csv('csv/Combined_Adults.csv', index=False)

In [26]:
unique_adults = adults[~adults.duplicated()]

print(f"Original Data :  {adults.shape}")
print(f"Unique Data :  {unique_adults.shape}")

Original Data :  (65120, 15)
Unique Data :  (32536, 15)

In [27]:
unique_adults.to_csv('csv/Unique_Adults.csv', index=False)